MONGODB_URI = mongodb+srv:*************db.net/reels_pro
NEXTAUTH_SECRET = jhgsf

# IMAGEKIT.IO SETUP
NEXT_PUBLIC_URL_ENDPOINT = https://ik.imagekit.io/jkrfhgtjdf
NEXT_PUBLIC_PUBLIC_KEY = uiweqctrhbed
PRIVATE_KEY = kjdsfhg
